module.exports = (function(size) {
    if (typeof size !== 'number') {
        return (size)
    };
    var fsize = parseFloat(size);
    var sizeUnit = 'B';
    while (fsize >= 1024) {
        fsize = fsize / 1024;
        if (sizeUnit === 'B') {
            sizeUnit = 'KB'
        } else if (sizeUnit === 'KB') {
            sizeUnit = 'MB'
        } else if (sizeUnit === 'MB') {
            sizeUnit = 'GB'
        } else if (sizeUnit === 'GB') {
            sizeUnit = 'TB'
        } else if (sizeUnit === 'TB') {
            sizeUnit = 'PB'
        } else if (sizeUnit === 'PB') {
            sizeUnit = 'EB';
            break
        }
    };
    fsize = fsize.toFixed(0);
    if (sizeUnit === 'B') {
        fsize = parseInt(size)
    };
    return (fsize + ' ' + sizeUnit)
});